.footer {
    @include flex;
    width: 100%;
    height: 10rem;
    bottom: 0;
    a {
        color: $yellow;
        padding: 2rem;
        @include trans;
        &:hover {
            color: black;
        }
    }
    display:none;
}