.competences-wrapper {
    .competences-container {
        .timeline {
            .timeline-plug-in {
                //? configuration du plugin
                width: 100%;
                .wrapper {
                    position: relative;
                    z-index: -1;
                    //* couleur texte section
                    width: 110%;
                    //? les sections provoquent le scroll, image en fond ? 
                    .section {
                        position: relative;
                        z-index: -1;
                        height: 100vh;
                        opacity: 0;
                        $bgImages: url(''), url('/img/timeline-bg/programmation.jpg'), url('/img/timeline-bg/comment-devenir-graphiste-freelance.webp'), url('/img/timeline-bg/etudes.jpg');
                        @for $i from 2 through length($bgImages) {
                            &:nth-child(#{$i}) {
                                background: nth($bgImages, $i) center/cover;
                            }
                        }
                        //? filtre sur image
                        &:after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $yellow;
                            opacity: 0;
                        }
                    }
                }
                //? les blocs texte-période
                .nav__wrapper {
                    position: fixed;
                    top: 70px;
                    max-width: 500px;
                    padding: 2rem;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                }
                .nav {
                    & {
                        padding: 0 1rem;
                    }
                    //? masquage
                    .nav__counter,
                    .nav__body {
                        height: 0;
                        overflow: hidden;
                        opacity: 0;
                        transition: height 0.3s ease-out, opacity 0.2s ease-out;
                        margin: .5rem;
                        @include trans($time: .8s);
                    }
                    &__counter {
                        font-size: 1rem;
                        font-weight: 400;
                        transition: all 0.15s ease-out;
                        color: $yellow;
                        filter: drop-shadow(0 0 12px rgba(0, 0, 0, .1));
                    }
                    &__counter-down {
                        position: absolute;
                        bottom: -1.5rem;
                        margin: 0;
                    }
                    &__title {
                        font-size: 1rem;
                        font-weight: 600;
                        margin: 0;
                    }
                    &__body {
                        font-weight: 100;
                        font-size: 1rem;
                    }
                    li {
                        width: 0;
                        overflow: hidden;
                        position: relative;
                        opacity: 0;
                        //? crochets jaune période
                        &:after {
                            content: '';
                            position: absolute;
                            left: -30px;
                            top: 15px;
                            height: 3rem;
                            width: 20px;
                            display: block;
                            border: 2px solid $yellow;
                            border-right: unset;
                        }
                        a {
                            display: block;
                            padding: 0;
                            //* couleur texte nav
                            color: black;
                            text-decoration: none;
                            transition: all 0.15s ease-out;
                            height: 100%;
                            &:hover {
                                padding-left: 1em
                            }
                        }
                        //? période développée
                        &.active {
                            //? démasque
                            margin-bottom: 1.5rem;
                            .nav__counter,
                            .nav__body {
                                height: initial;
                                opacity: 1;
                                overflow: visible;
                                @include trans($time: .8s);
                            }
                            pointer-events: none;
                            padding-left: 1rem;
                            &:after {
                                width: 35px;
                                top: 15px;
                                height: 100%;
                            }
                            .nav__counter {
                                font-size: 1.5rem;
                            }
                            .nav__counter-down {
                                bottom: -2.5rem;
                            }
                            .nav__title {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}