html {
    scroll-behavior: smooth;
}

// ? general
body {
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
    &,
    * {
        &::-webkit-scrollbar {
            width: 1px;
            height: 1px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $yellow;
        }
    }
    // background-color: antiquewhite;
}

.gradient-svg,
.gradient-svg svg {
    height: 0;
    width: 0;
}

.all-svg-logos {
    display: none;
}

//? Section 2
.competences-wrapper {
    width: 100%;
    padding: 1rem 5rem;
    .competences-container {
        width: 100%;
        margin-bottom: 2rem;
        @include flex($dir: column, $jc: flex-start, $ai: flex-start);
        .competences {
            position: -webkit-sticky;
            position: sticky;
            top: 70px;
            background-color: white;
            width: 100%;
            height: 85vh;
            left: 0;
            padding: 2rem;
            border: 2px solid $yellow;
            //* bloc-textes:
            @include flex($jc: space-evenly, $ai: flex-start, $wrap: wrap);
            .bloc-field {
                padding-right: 2rem;
                h2 {
                    margin: .2rem;
                    font-size: 1.5rem;
                }
                font-family: $title;
                p {
                    font-style: italic;
                    color: $yellow;
                    font-weight: 400;
                    padding-left: 1.5rem;
                    margin-bottom: .3rem;
                }
                ul {
                    list-style: none;
                    li {
                        position: relative;
                        font-weight: 400;
                        font-size: 0.9rem;
                        padding-right: .5rem;
                        &:after {
                            content: ';'
                        }
                        &.lvl-a {
                            color: $grey;
                        }
                    }
                }
                @include trans($time: .3s, $delay: .5s);
            }
            @include trans($time: .8s);
        }
        .timeline {
            overflow: scroll;
            width: 50%;
            right: 0;
            padding: 2rem;
            padding-bottom: 0;
            margin-top: 500px;
            align-self: flex-end;
            //? configuration de .timeline-plug-in dans _slider
        }
    }
    @include trans();
    &.next-timeline {
        .competences-container {
            .competences {
                width: 50%;
                //* bloc-textes:
                justify-content: flex-start;
                align-items: center;
                .bloc-field {
                    width: 100%;
                    padding: 0;
                    * {
                        margin: 0;
                        font-size: 0.7rem;
                    }
                    h2 {
                        font-size: 1.3rem;
                    }
                    ul {
                        @include flex($jc: flex-start, $wrap: wrap);
                    }
                    @include trans($time: .3s, $delay: .5s);
                }
            }
            .timeline.show-timeline-nav {
                .timeline-plug-in,
                .wrapper,
                .nav li {
                    width: 100%;
                    overflow: unset;
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .competences {
            @include flex($dir: column, $ai: flex-start);
            margin: 1rem 4rem 2rem;
            .bloc-field {
                padding: 0 0 1rem;
                ul {
                    @include flex($jc: flex-start, $wrap: wrap);
                }
            }
            @media screen and (max-width:900px) {
                margin: 1rem 1rem 2rem;
            }
        }
        .timeline {}
    }
}

.after-timeline {
    &.competences-wrapper {
        position: relative;
        .competences {}
        .timeline {}
    }
    &.portfolio {
        position: relative;
        visibility: visible;
    }
}

//? Section 4
.portfolio {
    // visibility: hidden;
    @include trans($time: .4s);
    min-height: 100vh;
    width: 100vw;
    //? les skill (boutons) sont dans _buttons.scss
    .project-wrapper {
        margin: 2rem 1rem;
        .project {
            position: relative;
            img {
                width: 100%;
            }
            overflow: hidden;
            .info {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .8);
                @include flex($dir: column);
                color: $yellow;
                p {
                    margin: 0;
                }
                i {
                    margin: 1rem;
                    font-size: 2rem;
                    &:hover {
                        color: white;
                    }
                }
                @include trans($time: .5s);
            }
            &:nth-child(4n) {
                .info {
                    top: 100%;
                    left: 0;
                }
            }
            &:nth-child(4n+1) {
                .info {
                    left: 100%;
                    top: 0;
                }
            }
            &:nth-child(4n+2) {
                .info {
                    top: -100%;
                    left: 0;
                }
            }
            &:nth-child(4n+3) {
                .info {
                    left: -100%;
                    top: 0;
                }
            }
            &:hover {
                .info {
                    @include trans($time: .5s);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    @media screen and (max-width: 1024px) {
        //? sur mobile; soit en dessous 576 opour s'adapter au xs bootstrap
        .project-wrapper {
            .project {
                &.show-info {
                    .info {
                        @include trans($time: .5s);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}