@keyframes gooey-bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes gooey-turn {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes ball-turn {
    from {
        transform: translateY(0);
        transform: rotate(0);
    }
    to {
        transform: translateY(0);
        transform: rotate(-360deg);
    }
}