//? Fonts
$title: 'Source Code Pro',
monospace;
$text: 'Source Sans Pro',
sans-serif;
;
$exergue: 'Source Serif Pro',
serif;
;
//? Colors
$yellow: rgb(234, 180, 83);
$grey: rgb(135, 135, 135);
$red-action: rgb(221, 75, 57);
//? Design
$pad: 1rem;
//? skill gradient default values
:root {
    --color-stop-1: black;
    --color-stop-2: white;
    --color-stop-3: grey;
    --color-stop-4: red;
}

//? Gooey
$fg:#e91e63;
$bg:#8bc34a;
$pi:3.14;
$width: 25px;
$height: 3px;
%goo {
    filter: url('#goo');
}

%ball {
    background: black;
    color: $yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform ease-out 200ms;
    padding: 0;
}